lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results
bower_components
libs
options
pages
tasks
404.html
templates/partials/*
!templates/partials/base.html
npm-debug.log
node_modules
.sass-cache
/.build
/.firebase.conf
